<body ng-app="Renalds">
  <div ng-controller="RenaldsController">
    <div flex>
      <md-grid-list id="interestsGrid" class="md-padding"
        md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-gutter="20px"
        md-row-height="16:9">
        <md-grid-tile ng-click="setRoute('/Links')"
          class="technology md-padding"
          md-rowspan="3" md-rowspan-gt-lg="2" md-colspan="2">
          <md-grid-tile-header class="md-padding">
            <div class="md-title md-padding">
              Technology
            </div>
          </md-grid-tile-header>
          <div class="md-padding md-body-2">
            I'm predominantly focused on Information Technology, Oracle Database, the Internet, and Software Development.  However, I'm into any technologies that make life easier, healthier, and more productive. You probably get the idea about clicking here and looking for links of this color.
          </div>
        </md-grid-tile>
        <md-grid-tile ng-click="setRoute('/Links')"
           class="orthodox md-padding"
            md-rowspan="3" md-rowspan-gt-lg="2" md-colspan="2">
          <md-grid-tile-header class="md-padding">
            <div class="md-title md-padding">
              Faith 
            </div>
          </md-grid-tile-header>
          <div class="md-padding md-body-2">
            I was baptised into the Greek Orthodox Church 16 years ago. This was the most important decision that I had ever made. I've never had a moment of doubt that this was the way to go. I don't really talk about my faith much, but I leave this here for anyone interested. I'll add some sites to the links page in this color for those who might want to know more.
          </div>
        </md-grid-tile>
        <md-grid-tile ng-click="setRoute('/Links')"
           class="politics md-padding"
            md-rowspan="3" md-rowspan-gt-lg="2" md-colspan="2">
          <md-grid-tile-header class="md-padding">
            <div class="md-title md-padding">
              Politics
            </div>
          </md-grid-tile-header>
          <div class="md-padding md-body-2">
            I find myself being less inspired by Politics as I get older. Everyone talks about change, but the only thing that happens is more money is wasted on the least deserving and least in need. If I decide to add a few sites to my Links page, look for this color.
          </div>
        </md-grid-tile>
        <md-grid-tile ng-click="setRoute('/Links')"
          class="sports md-padding"
          md-rowspan="4" md-rowspan-gt-lg="3" md-colspan="2">
          <md-grid-tile-header class="sports md-padding">
            <div class="md-title md-padding">
              Sports 
            </div>
          </md-grid-tile-header>
          <div class="md-padding md-body-2">
            I'm a DC Sports Fan, but I also like Everton in the British Premiere League. Here is my current order of interest:<ol><li>Washington Redskins</li><li>Everton FC</li><li>Washington Nationals</li><li>Washington Wizards</li><li>Washington Capitals</li><li>DC United</li></ol>If I add sites to my Links page, they'll probably be in the color of the team or just this color.
          </div>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
</body>

