<body ng-app="Renalds">
  <div ng-controller="RenaldsController">
    <div flex>
      <md-grid-list id="linksGrid" class="md-padding"
        md-cols-sm="1" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-sm="6:1" md-row-height-gt-sm="10:1">
        <md-grid-tile
          class="orthodox md-padding"
          md-rowspan="3" md-rowspan-sm="1" md-colspan="2" md-colspan-sm="1">
          <a ng-href="http://goarch.org" target="_blank">
          <div class="md-padding md-body-2">
            Greek Orthodox Archdiocese of America
          </div>
          </a>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
</body>

